body {
    font-family:cursive;
}

ul {
    font-family: cursive;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: circle;
  }
  
  #msg {
    font-family: cursive;
  }

  .light-theme {
    color: #000000;
    background: grey;
  }